.animation {
    position: relative;
    height: 100px;
}
.animation-box {
    position: absolute;
    animation: moveRight linear both;
    animation-timeline: scroll();
    border: 2px solid black;
}

.animation-sprite-box {
    width: 100px;
    /* Розмір одного спрайта */
    height: 100px;
    /*background-image: url('media/sprite2.jpg');*/
    background-size: 400% 200%;
    /* 2 кадри по вертикалі */
    background-position: 0 0;
    /* Початковий стан */
     
    animation-name: runSprite;
    /*
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1);
    */
}

.parent {
    padding: 10px 0;
    margin-top: 50px;
    background-color: #FFA3B6;
    font-size: 36px;
}
.child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    font-size: 36px;
    color: white;
    margin-bottom: 10px;

}
.child-1 {
    background-color: #D6536D;
        
}
.child-2 {
    background-color: #EFB11D;

}
.child-3 {
    background-color: #EBE9E1;

}

@keyframes moveRight {
    from {
        left: 0;
        background-color: rgb(0, 25, 251);
        transform: scale(1, 1);
    }

    to {
        left: calc(100% - 210px);
        background-color: rgb(255, 0, 0);
        transform: skew(15deg, 15deg);
        /* Зсуваємо вправо */
    }
}   

/* Кадри анімації */
@keyframes runSprite {
    0% { 
        background-position: 0 0;
        background-size: 400% 200%;
    }     
    20% {
         background-position: 33% 0; 
    } 
    40% {
        background-position: 64% 0;
    }
    50% {
        background-position: 95% 0;
        transform: translateX(10px);
    }
    60% {
        background-position: 8% 100%;
        transform: translateX(80px);
        background-size: 300% 200%;
        width: 115px;
    }
    70% {
        background-position: 49% 100%;
        transform: translateX(100px);
        background-size: 400% 200%;
        width: 100px;
    }
    80% {
        background-position: 74% 100%;
        background-size: 500% 200%;
        width:85px;
    }
    90% {
        background-position: 106% 100%;
        transform: translateX(110px);
        background-size: 400% 200%;
        width: 100px;
    }

}